<header class="topbar">
  <div class="topbar__row">
    <div class="topbar__date smallcaps">{{#if site.meta.issue_label}}{{site.meta.issue_label}}{{#else}}{{site.title}}{{/if}}</div>
    <div class="topbar__brand">
      <a href="/"><span class="brand-mark">{{#if site.meta.brand_mark}}{{site.meta.brand_mark}}{{#else}}Æ{{/if}}</span><span class="brand-word">{{#if site.meta.brand_word}}{{site.meta.brand_word}}{{#else}}{{site.title}}{{/if}}</span></a>
    </div>
    <div class="topbar__actions">
      <button type="button" class="topbar__btn" data-theme-toggle aria-label="Toggle color theme">
        <span class="theme-label" data-theme-label-light>Ink</span>
        <span class="theme-label" data-theme-label-dark>Paper</span>
      </button>
      <a class="topbar__btn topbar__btn--cta" href="/#subscribe">Subscribe</a>
    </div>
  </div>
  <nav class="topbar__nav" aria-label="Sections">
    {{menu:primary}}
  </nav>
</header>
